@page
@model KE03_INTDEV_SE_1_Base.Pages.Account.AccountModel
@{
}

<div style="text-align:center; margin-top:30px;">
    <h1>Pagina in aanbouw</h1>
    <p>Deze pagina is nog niet beschikbaar. We werken er hard aan om deze zo snel mogelijk af te maken.</p>
    <p>Kom later nog eens terug!</p>
    <img src="https://img.freepik.com/premium-vector/page-is-construction-sign-vector_24886-1377.jpg" alt="Under Construction" style="height:200px; margin-top:20px;" />
</div>